body {
  background-color: #fff;
  color:#212529;
}
section {
  background-color: #fff;
  color:#212529;
}
.form-label {
  color:#212529
}

.form-layout {
    border-radius: 20px;
    width: 500px;
    
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
    
  }
  #lblCartCount {
      font-size: 12px;
      background-color: #3c9700;
      color: #2b2828;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -2px; 
  }
  button {
    color:#3f4040
  }
  .card-body {
    background-color: rgb(235, 232, 232);
  }
  .card-text {
    color: rgb(93, 92, 92);
  }
  #lblCartCount {
    background-color: #fbfafa;
  }
  .text-muted {
    --bs-text-opacity: 1;
    color: #3c3d3e !important;
  }

  a {
    font-size: 14px;
    font-weight: 700;
    color: black;
  }
  .nav-link {
    color: rgb(53, 52, 52) !important;
  }
  .navbar-light {
    color: rgb(37, 34, 34) ;
  }
  .navbar-nav {
    color: rgb(19, 18, 18) ;
  }
  nav {
    background-color: #f7f3f3;
  }
  
  .review-form {
    --bs-text-opacity: 1;
    color: #f1f3f5 ;
  }
  strong {
    color: rgb(97, 95, 95);
  }
  .h5{
    color: #4e4c4c;
  }

  .review {
    background-color: #e2e2e2;
  }
  
  .card-text {
    color: rgb(83, 81, 81);
  }
  
  
  
  .superNav {
    font-size: 13px;
  }
  .form-control {
    outline: none !important;
    box-shadow: none !important;
  }
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }

  /* rotate caret on hover */
  .dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
  }
  @media screen and (max-width: 540px) {
    .centerOnMobile {
      text-align: center;
    }
  }

/* NavBar Search Button */
 .search-button {
    background-color: #49B189;
    color: #131414
  }

  /* message */
  .alert-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .alert-secondary {
    background-color: #bec1c4;
    color: #fff;
  }
  
  .alert-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .alert-danger {
    background-color: #8c2d37;
    color: #fff;
  }
  
  .alert-warning {
    background-color: #ffc107;
    color: #fff;
  }
  
  .alert-info {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .alert-light {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .alert-dark {
    background-color: #343a40;
    color: #fff;
  }
  .zoom {
    transition: transform 0.3s;
}

.zoom:hover {
    transform: scale(1.1);
}

.border-custom {
  background-color: #e0e3e3;
 
}
.select-custom {
  background-color: #f1f1f1; 
  color: #333; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}
