<section id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12  wow bounce">
				<div class="section-heading text-center text-uppercase  wow bounceInUp">
					<br>
					<h3>Все<span>профайлы</span></h3>
					<!--   Функция возврата назад -->
					<a onclick="goBack()"  style="text-decoration: none;">Назад
						<i class="fa fa-shield fa-rotate-90"></i>
					</a>
					<script>
						function goBack() {
							window.history.back();
						}
					</script>
					<!---->
				</div>
				<br>
					<!--search-->
					<form action="{% url 'shop:search-users' %}" method="get" name="q" >
						<label>Пол:</label>

						<input type="radio" name="gender" value="women" {% if request.GET.gender == "women" %}checked{% endif %}> женский
						<input type="radio" name="gender" value="men" {% if request.GET.gender == "men" %}checked{% endif %}> мужской
						<br>
						<label> Статус:</label>
						<input type="checkbox" name="online_status" value="online" {% if request.GET.online_status == "online" %}checked{% endif %}> Online
						<br>
						<div class="col-sm-12">
                            
                            <div>
								<input type="radio" id="married" name="marital_status" value="married" {% if request.GET.marital_status == "married" %}checked{% endif %}>
                                <label for="married">В браке</label>
                            </div>
                            <div>
								<input type="radio" id="single" name="marital_status" value="single" {% if request.GET.marital_status == "single" %}checked{% endif %}>
                                <label for="single">Все сложно</label>
                            </div>
                            <div>
                                <input type="radio" id="searching" name="marital_status" value="searching" {% if request.GET.marital_status == "searching" %}checked{% endif %}>
                                <label for="searching">В активном поиске</label>
                            </div>
                        </div>

                       
						<script>
							// Функция для обновления положения шкалы и метки возраста
							function updateAgeLabel(value) {
								document.getElementById('selected-birth_date').innerText = value;
								document.querySelector('input[type="range"]').value = value;
							}
							
							window.onload = function() {
								// Получаем сохраненное значение из localStorage
								var savedValue = localStorage.getItem('selectedAge');
								
								// Устанавливаем значение шкалы и метку возраста
								if (savedValue) {
									updateAgeLabel(savedValue);
								} else {
									updateAgeLabel(document.querySelector('input[type="range"]').value); // На случай, если нет сохраненного значения
								}
								
								// Обновляем метку возраста при изменении значения шкалы
								document.querySelector('input[type="range"]').oninput = function() {
									updateAgeLabel(this.value);
									localStorage.setItem('selectedAge', this.value); // Сохраняем значение в localStorage
								}
							};
							
						</script>
						<style>
							input[type="range"] {
								-webkit-appearance: none;
								width: 50%;
								height: 10px;
								background: #fffefe;
								outline: none;
								opacity: 0.7;
								-webkit-transition: .2s;
								transition: opacity .2s;
								border-radius: 5px; /* Добавляем закругление краев */
							}
							
							input[type="range"]::-webkit-slider-thumb {
								-webkit-appearance: none;
								appearance: none;
								width: 20px;
								height: 20px;
								background: #4CAF50;
								cursor: pointer;
							}
							
							input[type="range"]::-webkit-slider-thumb:hover {
								background: #45a049;
							}
							
							input[type="range"]::-moz-range-progress {
								background-color: #f11111; /* Цвет для заполненной части */
							}
							
							input[type="range"]::-moz-range-thumb {
								width: 20px;
								height: 20px;
								background: red; /* Цвет бегунка для Firefox */
								cursor: pointer;
							}
							
							input[type="range"]::-moz-focus-inner {
								border: 0;
							}
						</style>
						
						<label>от 18 до <span id="selected-birth_date"></span></label>
						<input type="range" name="birth_date" min="18" max="100" step="1" value="{% if request.GET.birth_date %}{{ request.GET.birth_date }}{% else %}18{% endif %}">
						
						<br>
						<br>
						<button type="submit" class="btn red-btn" style="max-width: 9rem; max-height: 9rem;">Найти</button>
					</form>
					
					
					<div class="container">
						<div class="row">
							
							{% for user in users %}
							<div class="col-sm-6 col-md-3  wow bounceIn">
								<div class="single-item text-center">
									<br>
				
									{% if user.avatar %}                   
								
									<img class="img-fluid mx-auto d-block gallery-image" alt="Responsive image" style="max-width: 7rem; height: 7rem; border-radius: 50%;aspect-ratio: 1 / 1;" src="{{ user.full_image_url }}">
									
									{% else %}
										<img src="/static/shop/images/avatar.png" alt="user" style="max-width: 7rem; height: 7rem; border-radius: 50%;aspect-ratio: 1 / 1;">      
									{% endif %}
									{% if user.gender == "men" %}
										<i class="fa fa-child" style="font-size:24px"></i>
										
									{% elif  user.gender == "women" %}
										<i class="fa fa-female" style="font-size:24px"></i>
										
									{% else %}
										<i class="fa fa-circle-o" style="font-size:24px"></i>
									
										не выбран
									{% endif %}

									<!---->
									{% if user.online_status %}
										<span style="color:#77e977">Online</span>
									{% else %}
										<span style="color:#bdbcbc">Offline</span>
									{% endif %}
									<!---->
									<h4 class="text-uppercase">{{ user.username }} - {{ user.lastname }}</h4>
				
									<p>{{ user.bio|truncatechars:10}}</p>
									
									<a class="btn btn-red text-uppercase" href="{% url 'account:user_detail' slug=user.slug %}">          
										Смотреть
									</a>
								</div>
							</div>
						
							
							{% endfor %}
						</div>
					</div>
					
					<!--search-->
			</div>
		</div>
	</div>

	<!--all-->
	<div class="container">
		<div class="row">
			{% for only_friend in friends %}
			<div class="col-sm-6 col-md-3  wow bounceIn">
				<div class="single-item text-center">
					<br>

					{% if only_friend.avatar %}                   
				
					<img class="img-fluid mx-auto d-block gallery-image" alt="Responsive image" style="max-width: 7rem; height: 7rem; border-radius: 50%;aspect-ratio: 1 / 1;" src="{{ only_friend.full_image_url }}">
					
					{% else %}
						<img src="/static/shop/images/avatar.png" alt="user" style="max-width: 7rem; height: 7rem; border-radius: 50%;aspect-ratio: 1 / 1;">      
					{% endif %}
					{% if only_friend.gender == "men" %}
                        <i class="fa fa-child" style="font-size:24px"></i>
                        
                    {% elif  only_friend.gender == "women" %}
                        <i class="fa fa-female" style="font-size:24px"></i>
                        
                    {% else %}
                        <i class="fa fa-circle-o" style="font-size:24px"></i> 
                        не выбран
                    {% endif %}
					<h4 class="text-uppercase">{{ only_friend.username }} - {{ only_friend.lastname }}</h4>
					<!---->
					{% if only_friend.online_status %}
						<span style="color:#77e977">Online</span>
					{% else %}
						<span style="color:#bdbcbc">Offline</span>
					{% endif %}
					<!---->

					<p>{{ only_friend.bio|truncatechars:10}}</p>
					
					<a class="btn btn-red text-uppercase" href="{% url 'account:user_detail' slug=only_friend.slug %}">          
						Смотреть
					</a>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
	<!--all-->
</section>


        <!--friends-->