
{%  extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}


{% block content %}

<div class="container  col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    
    
    {% if users_add_products %}
    <h3>Мои продукты</h3>
    <hr>
        {% for product in  users_add_products %}
        <a class="text-black text-decoration-none fs-4" href="{{product.get_absolute_url}}">
            <div class="card shadow-sm h-50 ">
                {% thumbnail product.image "400x400" as im %}
                <img class="img-fluid h-50 rounded" alt="Responsive image" src="{{ im.url }}" />
                {% endthumbnail %}
                <div class="card-body">
                    <p class="card-text">
                       
                        {{product.title|capfirst}}
                    </p>
                    <div class="d-flex justify-content-between align-items-center badge search-button text-wrap text-dark"
                        >
            
                        {% if product.discount %}
                    <span class="text-decoration-line-through  text-danger">₽ {{product.price}} <span class="badge rounded-pill bg-info">Скидка</span></span> <span class="h5">₽{{product.get_discounted_price}}</span></div>
                    {% else%}
                    <span class="h4 fw-bold">{{product.price}} ₽</span></div>
                    {% endif %}
                    
                </div>
            </div>
        </a>
        <br>
        <!--    Форма  продукта -->
          <form action="{% url 'account:delete_product' product.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Вы действительно хотите удалить?')">Удалить</button>
        </form>
        <!--    Форма  продукта -->
        {% endfor %}
    {% else %}
    <h3>Вы ничего не добавили</h3>
    
    {% endif %}
    
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-secondary  btn-block p-2 btn-register"> Добавить </button>
    </form>
    <br>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    </div>

{% endblock %}
