{%  extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


    
    <section id="contact">
        <div class="section-heading contact-heading text-center text-uppercase">
            <h2><span> Востановление доступа</span></h2>
        </div>
    
        <div id="map">
    
    
        </div>
        <div id="map-overlay" class="text-left text-uppercase">
            <div class="container">
        
    
                <h2></h2>
            </div>
        </div>
        <!-- contact massage-->
        <div class="contact-form">
            <div class="container">
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-sm-4">
                            {{ form|crispy }}
                            <br>
                            <button type="submit" class="btn red-btn"> Сбросить пароль</button>
                            
                        </div>
                    </form>
                   
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}